$lightXl: #FFFFFF;
$lightL: #F6F6F6;
$lightS: #FAFAFA;
$darkS: #CDCDCD;
$darkM: #B2B2B2;
$darkI: #545454;
$darkXl: #4C4C4C;
$dark2xl: #444444;
$dark3xl: #292929;
$primary: #F1CDB3;
$primaryLight: #FDDCC4;
$background: #1d1b1b;
